.logo{
    
    height: 60px;
   
}
.flex-wrap-wrap{
    flex-wrap: wrap;
} 
.nav-link{
    font-size: 14px;
    font-weight: 500;
}
.isize{
    font-size: 27px;
    
}
nav .container{
    max-width:1280px;
}
.container{
    max-width:1536px;
}
.head-text{
    font-size: 30px;
}
.card-main-text{
    font-size: 18px;
}
.card-text{
    font-size: 16px;
}
.big-pic img{
    width: 75%;
    border-radius: 5px;
}
  .arrow{
      width: 16px;
     
  }
  .next-more{
    cursor:pointer;
  }
  .all-pic img{
      width: 100%;
     
  }
  .all-pic{
      padding: 0px !important;
  }
  .main-text{
      font-size: 30px;
  }
  
.btn-size{
    width: 121px;
    height: 44px;
}
.pric{
    font-size: 36px;
}
.pric-thing{
    width: 997.33px;
}

.chat{
border-top:unset;
    background-color: #f3f4f6;
}
.button{
    width: 98.88px;
    height: 40px;
}
.bg-gray-100{
    --tw-bg-opacity:1;
    background-color:rgba(243, 244, 246, 1);
}
.more .next-more{
    color: #3b82f6;
}

.svg-icon{
    width: 128px;
   padding:30px;
   border-radius: 50%;
    color: #6166f1;
    background-color: #e0e7ff;
}
.svg-icon01{
    width: 80px;
   padding:15px;
   margin-bottom: 20px;
   border-radius: 50%;
    color: #6166f1;
    background-color: #e0e7ff;
}
.svg-size{
    width:20px;
}
.buttons{
    width:24px;
    height:24px;
    border-radius: 100%;
    border: 0.5px solid rgb(80, 80, 80);
}
.one-bule{
    color: #6166f1;
    /* background-color: #6166f1; */
}
.bule{
    background-color: #6166f1;
}
.heart{
    padding: 5px;
    width: 40px;
    color: #6b7280;
    background-color: #e5e7eb;
    border-radius: 100%;
    
}
.min-info-pic .arrow{
    width: 40px;
}
.footer-tito li{
    list-style-type: none;
}
.under-bar{
    width: 100%;
    padding: 10px;
    color: #4b5563;
    background-color: #f3f4f6;
}
.dropdown-toggle::after{
    content: '';
    border: unset;
}
.dropdown-menu{
    left: unset;
    top:130%;
    right: 30%;

}
.bgc{
 padding: 20px;
    border-radius: 5px;
    background-color: #f3f4f6;
 
}
.content-text{
   align-items: center;
    
}

.card-img-top{
   
    border-radius: 5px;
}

.small{
    font-size: 10px;
}
.shop-name{
    font-size: 30px;
}
.text{
    font-size: 16px;
   
    /* 行高 */
    
    color: #4b5563;
}
.money{
    font-size: 24px;
}
.card-text{
    font-size: 18px;
}
iframe {
    width: 100%;
    height: 696px;
    
}
.message{
    z-index: 2;
    top: 50px;
    padding: 15px;
    right: 100px;
    border-radius: 5px;
    background-color: #fff;

}
.small-text{
    font-size: 12px;
}
.footer-tito span{
    font-weight: 500;
}
.unber-line{
    width: 64px;
    height: 4px;
    border-radius: 5px;
    background-color: #6166f1;
}
.unber-line-two{
    width: 84px;
    height: 4px;
    border-radius: 5px;
    background-color: #6166f1;
}
.exampleFormControlInput1{
    font-size: 14px;
}
@media (max-width:1400px) {
    .message{
       
       width: 413px;
        right: 60px;
      
    
    }
}
@media (max-width:1270px) {
    #pic-show .container ,.details{
        flex-wrap: wrap;
    }
    .svg-icon{
        width: 100px;
       padding:15px;
       border-radius: 50%;
        color: #6166f1;
        background-color: #e0e7ff;
    }
    .message{
       
        width: 328px;
         right: 100px;
        
     
     }
   
}
@media (max-width:1010px) {
    .message{
       
        
         right: 150px;
        
     
     }
}
@media (max-width:828px) {
    .svg-icon{
        width: 100px;
       padding:15px;
       border-radius: 100%;
        color: #6166f1;
        background-color: #e0e7ff;
    }
}
@media (max-width:766px) {
    .message{
        width: 600px;
        top: 40px;
        padding: 30px;
        left: 50%;
        /* right: 50%; */
        transform: translateX(-50%);
      
    
    }
}

@media (max-width:500px) {
    .message{
        width: 400px;
        top: 20px;
        padding: 30px;
        left: 50%;
        /* right: 50%; */
        transform: translateX(-50%);
      
    
    }
}
@media (max-width:283px) {
    #Price .row{
        overflow:auto;
    }
}


